<div class="modal-header">
  <h4 class="modal-title">Add New Profile</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="addModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addForm">
    <div class="form-group">
      <div class="form-image">
        <img
          [alt]="addForm.get('name').value"
          class="image"
          [src]="addForm.get('picUrl').value"
        />
      </div>

      <input
        formControlName="picUrl"
        type="text"
        class="form-control form-control-sm"
        placeholder="URL"
        [ngClass]="{
          'is-invalid': isInvalid('picUrl')
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="addForm.get('picUrl').errors?.required">
          PicUrl is required!
        </span>
      </span>

      <input
        formControlName="name"
        type="text"
        class="form-control form-control-sm"
        placeholder="Name"
        [value]="addForm.get('name').value | titlecase"
        [ngClass]="{
          'is-invalid': isInvalid('name')
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="invalidFeedback('name')">
          Please enter your name!
        </span>
        <span *ngIf="invalidFeedback('name', 'pattern')">
          Please enter your first and last name!
        </span>
      </span>

      <input
        formControlName="occupation"
        type="text"
        class="form-control form-control-sm"
        placeholder="Occupation"
        [ngClass]="{
          'is-invalid': isInvalid('occupation')
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="invalidFeedback('occupation')">
          Occupation is required!
        </span>
      </span>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-group col-md-8">
          <input
            formControlName="city"
            type="text"
            placeholder="City"
            class="form-control form-control-sm"
            [value]="addForm.get('city').value | titlecase"
            [ngClass]="{
              'is-invalid': isInvalid('city')
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="addForm.get('city').errors?.required">
              City is required!
            </span>
          </span>
        </div>
        <div class="form-group col-md-4">
          <select
            id="inputState"
            formControlName="state"
            placeholder="State"
            class="form-control form-control-sm"
            [ngClass]="{
              'is-invalid': isInvalid('state')
            }"
          >
            <option value="">State</option>
            <option *ngFor="let state of states" [value]="state.abbreviation">{{
              state.abbreviation
            }}</option>
          </select>
          <span class="invalid-feedback">
            <span *ngIf="addForm.get('state').errors?.required">
              State is required!
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <textarea
        formControlName="bio"
        class="form-control"
        rows="4"
        placeholder="Bio"
        [ngClass]="{
          'is-invalid': isInvalid('bio')
        }"
      ></textarea>
      <span class="invalid-feedback">
        <span *ngIf="addForm.get('bio').errors?.required">
          Bio is required!
        </span>
      </span>
    </div>
  </form>
</div>

<div class="icons">
  <p>Social Profiles</p>
  <div class="social-icons">
    <img
      *ngFor="let socialProfile of socialProfiles"
      [src]="getImagePath(socialProfile)"
      class="icons"
      (click)="toggleIcon(socialProfile)"
    />
  </div>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    (click)="addProfile()"
    [disabled]="addForm.invalid"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="addModal.close('Close click')"
  >
    Cancel
  </button>
</div>
