<div class="modal-header">
  <h4 class="modal-title">Edit Profile</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="handleClickNo()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm">
    <div class="form-group">
      <div class="form-image">
        <img
          alt="{{ profile.name }}"
          class="image"
          src="{{ profile.picUrl }}"
        />
      </div>

      <input
        formControlName="picUrl"
        type="text"
        class="form-control form-control-sm"
        placeholder="URL"
      />
      <input
        formControlName="name"
        type="text"
        class="form-control form-control-sm"
        placeholder="Name"
      />
      <input
        formControlName="occupation"
        type="text"
        class="form-control form-control-sm"
        placeholder="Occupation"
      />
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <input
          formControlName="city"
          type="text"
          placeholder="City"
          class="form-control form-control-sm"
        />
      </div>
      <div class="form-group col-md-4">
        <select
          id="inputState"
          formControlName="state"
          placeholder="State"
          class="form-control form-control-sm"
        >
          <option value="profile.state">{{ profile.state }}</option>
          <option *ngFor="let state of states" [value]="state.abbreviation">{{
            state.abbreviation
          }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <textarea
        formControlName="bio"
        class="form-control"
        rows="4"
        placeholder="Bio"
      ></textarea>
    </div>
  </form>
</div>

<div class="icons">
  <p>Social Profiles</p>
  <div class="social-icons">
    <img
      *ngFor="let socialProfile of socialProfiles"
      [src]="getImagePath(socialProfile)"
      class="icons"
      (click)="toggleIcon(socialProfile)"
    />
  </div>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="editForm.invalid"
    (click)="handleClickSave()"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="handleClickNo()"
  >
    Cancel
  </button>
</div>
