<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Delete Profile</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="handleClickNo()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to delete
    <span class="text-primary"
      ><strong>{{ profile.name }}</strong></span
    >?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="handleClickYes()">
    Yes
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="handleClickNo()"
  >
    No
  </button>
</div>
