<nav
  class="navbar fixed-top"
  style="background: linear-gradient(to right, #22a7f0, #47d3f9);"
>
  <a class="navbar-brand" href="#">
    <img
      src="/assets/images/LogoSmall.png"
      class="logo"
      alt="logo"
      (click)="scrollToTop()"
    />
    <span class="profiles">profiles</span>
  </a>
  <form class="form-inline">
    <input
      class="search-box"
      #searchBox
      id="searchBox"
      type="search"
      placeholder="Search"
      aria-label="Search"
      (input)="onSearchChange(searchBox.value)"
    />

    <button class="btn btn-outline-success" type="submit">
      + Add New Profile
    </button>
  </form>
</nav>
