<div class="app-container">
  <div class="image-container">
    <img
      src="{{ profile.picUrl }}"
      alt="{{ profile.name }}"
      class="rounded-circle"
    />
  </div>
  <div class="profilecard-content">
    <div class="social-icons">
      <img
        *ngFor="let socialProfile of profile.socialProfiles"
        [src]="getImagePath(socialProfile)"
        [alt]="socialProfile"
        class="icon"
      />
    </div>
    <div class="name">{{ profile.name }}</div>
    <div class="occupation">{{ profile.occupation }}</div>
    <div class="city">{{ profile.city }}</div>
    <div class="bio">{{ profile.bio }}</div>

    <div class="buttons-container">
      <div class="view-edit">
        <button type="button" class="btn btn-primary">View Details</button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="handleClickedEditButton()"
        >
          Edit
        </button>
      </div>
      <div class="delete-btn">
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="handleClickedDeleteButton()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
