<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Delete Profile</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="deleteModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to delete
    <span class="text-primary"><strong>lalala</strong></span
    >?
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="deleteModal.close('Ok click')"
  >
    Yes
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="deleteModal.dismiss('cancel click')"
  >
    No
  </button>
</div>
